@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts//Rubik-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}

*{
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 32px;
  background-color: red;
  border-bottom: 3px solid black;
  font-family: "Unbounded", sans-serif;
  color: whitesmoke;
  height: 15vh;
}

header img{
  height: 128px;
}

.main{
  display: flex;
  background: url("./images/background.png") no-repeat;
  min-height: 85vh;
  background-size: cover;
  justify-content: space-around;
  color: white;
}

table{
  font-size: 20px;
  background-color: rgb(38, 37, 37);
  border-spacing: 18px;
  border-left: 2px solid white;
  border-right: 1px solid  white;
  font-family: "Rubik", sans-serif;
  height: 100%;
}

.player{
  display: flex;
}

.player-info{
  font-size: 32px;
  font-family: "Unbounded", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(26,26,26,255);
  border-right: 3px solid white;
  min-width: 380px;
}

.player-info img{
  max-height: 350px;
}

.player-info p{
  font-size: 18px;
}

.loan{
  font-style: italic;
}

.wordle{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.guess input{
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-family: "Unbounded", sans-serif;
}

.guess{
  display: flex;
  gap: 10px;
  background-color: black;
  padding: 20px;
}

.loading{
  font-size: 32px;
  font-family: "Unbounded", sans-serif;
  -webkit-text-stroke: 1px black
}

.space{
  width: 40px;
}

.punctuation{
  font-size: 32px;
}

.small{
  font-size: 18px;
}

.letter{
  background-color: rgb(233, 233, 233);
  height: 40px;
  width: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s;
  user-select: none;
}

.green{
  background-color: rgb(0, 206, 0);
}

.yellow{
  background-color: yellow;
}

.keyboard .row{
  display: flex;
  justify-content: center;
}

.keyboard{
  background-color: white;
  border-radius: 18px;
}


.key{
  background-color: black;
  color: yellow;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  margin: 6px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}

.key:hover{
  background-color: rgb(38, 37, 37);
}

.win,
.lose{
  font-family: "Unbounded", sans-serif;
  font-size: 28px;
  background-color: rgb(38, 37, 37);
  color: rgb(5, 255, 5);
  padding: 8px;
  text-align: center;
  border-radius: 12px;
}

.lose{
  color: red;
}

.grey{
  background-color: rgb(145, 145, 145);
}

.empty-row{
  height: 80px;
}

tr{
  min-height: 50px;
}

@media  (max-width: 1200px) {
  *{
    font-size: 18px;
  }
  header{
    width: 100vw;
    height: 6vh;
  }

  header img{
    height: 24px;
  }

  header h1{
    font-size: 24px;
  }

  .main{
    justify-content: flex-start;
  }

  .player{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 3px solid white;
    padding-right: 18px;
  }

  .player-info{
    border: none;
  }

  .player-info img{
    max-height: 48px;
  }

  table{
    border: none;
    height: fit-content;
    height: 100%;
    width: 100%;
  }

  .wordle{
    max-width: 70vw;
    
  }

  .letter{
    height: 32px;
    width: 32px;
  }

  .wordle{
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 24px;
    padding-left: 24px;
  }

  .key{
    height: 48px;
    font-size: 24px;
  }

  .guess{
    padding: 5px;
  }

  .empty-row{
    height: 30px;
  }

  .table-div{
    height: 100%;
    width: 100%;
  }
}